@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

fieldset {
    color: #757575;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #009adf;
    border: 1px solid #009adf;
    border-radius: .375rem;
    width: 20%;
    margin: 1%;
}


html {
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

// .logo {
//     width: 220px;
//     min-width: 220px;
//     background: url(../../public/logo2.png) 5px;
// }

.header {
    display: flex;
    justify-content: space-between;
    color: #009adf;
    height: 2.5rem;
    background-color: white;
    border-bottom: 1px solid #6363635d;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.1rem;
}

.status {
    margin-right: 40%;
    display: flex;
}

button {
    margin: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1%;
    height: 35px;
    background-color: transparent;
    color: #757575;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #009adf;
    border: 1px solid #009adf;
    border-radius: .375rem;
}

button:hover {
    font-weight: bolder;
    background-color: #009adf;
    color: white;
    border: 1px solid #f5f5f5;
    border-radius: .375rem;
}

button:disabled {
    border: 1px solid #ffffff5d;
    color: white;
    background-color: #757575;
}

button:active {
    color: black;
    background-color: #ffffff5d;
}

.button_table_del:hover {
    font-weight: bolder;
    border-color: red;
    color: rgb(226, 43, 43);
    background-color: rgba(226, 43, 43, 0.459);
}

.button_cancel {
    display: inline-block;
}

.content {
    font-size: 1.5rem;
    display: inline-block;
    justify-content: center;
    color: #009adf;
    padding: 1%;
    margin: 1%;
    margin-bottom: 10%;

    p {
        font-size: 2rem;
    }
}

.table {
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
    font-size: medium;
    color: #757575;
    min-width: 800px;
    padding: 2% 2% 5% 2%;
    border: 1px solid #6363635d;
    border-radius: .375rem;
    margin: 2%;
}

.button_table {
    margin: 5px;
}

.button_table:hover {
    border: none;
}

.button_form {
    margin: 5px;
}

.button_form:hover {
    border: none;
}

th {
    padding: 2px;
    border-bottom: 2px solid #6363635d;
}

th:hover {
    font-weight: 600;
    color: #009adf;
    border-bottom: 2px solid #009adf;
}

td {
    padding: 10px;

    button {
        width: 150px;
    }

    border-bottom: 1px solid #0098df00;
}

td:hover {
    font-weight: 400;
    color: #009adf;
    border-bottom: 1px solid #009adf;
}

.form_add_new_patient {
    display: inline-block;

}

.input {
    margin: 2% 1% 2% 1%;
    border: 1px solid #6363635d;
    border-radius: .375rem;
    justify-self: center;
    height: 20px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
}

.input:hover {
    border: 1px solid #009adf;
}

input {
    margin: 2% 1% 2% 1%;
    border: 1px solid #6363635d;
    border-radius: .375rem;
    justify-self: center;
    height: 20px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
}

.span_content {
    font-size: medium;
    color: rgb(226, 43, 43);
    padding-bottom: 20px;
    margin: 2% 40% 2% 40%;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
}

.span_ {
    margin: 2px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
    background-color: rgba(226, 43, 43, 0.267);
    border: 1px solid #6363635d;
    border-radius: .375rem;
}

.span_no_data {
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
    color: #696969;
    padding: 50px;
    border: 1px solid #009adf;
    border-radius: .375rem;
    display: flex;
    justify-self: center;
    margin: 0.5%;
}

.fixed_footer {
    border-top: 1px solid lightgray;
    justify-content: start;
    width: 100%;
    background: #009adf;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}

.fixed_footer p {
    font-family: Montserrat;
    color: lightgrey;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: bolder;
}

.edit_content,
.add_content {
    justify-content: center;
    display: inline-flexbox
}